* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Titillium Web;
}

.mainContainer {
	height: 100vh;
	width: 100%;
	display: grid;
	place-items: center;
	background: linear-gradient(45deg, black, #16181e);
	position: relative;
}

.childContainer {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 15px 20px;
	color: white;
	background: #ffffff03;
	border-radius: 3px;
}

.childContainer h3 {
	position: relative;
	margin-bottom: 25px;
}

.childContainer h3::after {
	content: '';
	position: absolute;
	top: 120%;
	left: 0;
	height: 1px;
	width: 50px;
	background: white;
}

label {
	font-size: 14px;
	margin: 15px 0 5px 0;
}
.inputBox {
	background: #16161ab8;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  color: white;
  font-size: 13px;
  outline: none;
}

.textarea{ 
  background: #16161ab8;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  color: white;
  font-size: 13px;
  outline: none;
  height: 200px;
}

.submitBtn {
	background: transparent;
	width: 100px;
	padding: 7px;
	border: 1px solid white;
	margin: 15px 0 5px 0;
	border-radius: 35px;
	color: white;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.submitBtn:hover{
	background-color: white;
	color: black;
}

@media (max-width: 500px) {
	.mainContainer {
		padding: 10px;
	}
	.childContainer {
		width: 100%;
	}
}
